<center>
    <h1>
        Welcome to Voluntr.io
    </h1>
</center>

<section class="container-section">
    <p>
        <%= link_to "Looking for volunteers? Sign up here.", reqsignup_path %>
    </p>
    <p>
        <%= link_to "Interested in volunteering? Sign up here.", volsignup_path %>
    </p>

    <% if (RequestPost.count < 5) %>
    <% x = RequestPost.count %>
    <% else x = 5 %>
    <% end %>
    Some Recent Requests:
    <% for i in RequestPost.take(x) %>
        <div class="notification">
            <%= i.title %> ->
                <%= i.description.truncate(25, omission: "...") %>
                    <%= link_to "<click me!>", i %>
        </div>
        <% end %>
</section>