<h1>RequestUsers sign up</h1>
<p>
  <%= form_for(@request_user) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
    
    <%= f.label :tel_num %>
    <%= f.text_field :tel_num %>
    
    <%= f.label :fax_num %>
    <%= f.text_field :fax_num %>
    
    <%= f.label :website_address %>
    <%= f.text_field :website_address %>
    
    <%= f.label :about_me %>
    <%= f.text_area :about_me %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.label :password_confirmation, "Confirm" %>
    <%= f.password_field :password_confirmation %>
    
    <%= f.submit "Create account" %>
  
  <% end %>
</p>
