<h1>Organization Sign Up</h1>
<p1><%= link_to "Already have an account? Sign in here", reqlogin_path %></p1>
<p>
  <%= form_for(@request_user) do |f| %>
  
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label "Username" %>
    <%= f.text_field :display_name %>
    
    <%= f.label "Telephone" %>
    <%= f.text_field :tel_num %>
    
    <%= f.label "Fax" %>
    <%= f.text_field :fax_num %>
    
    <%= f.label "Website" %>
    <%= f.text_field :website_address %>
    
    <%= f.label "About Me" %>
    <%= f.text_area :about_me %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.label :password_confirmation, "Confirm" %>
    <%= f.password_field :password_confirmation %>
    
    <%= f.submit "Create account" %>
  
  <% end %>
</p>
