<div class = "RequestInfo">
    <h1><%= @request_user.display_name %></h1>
    <p>Email: <%= @request_user.email %></p>
    <p>Telephone Number: <%= @request_user.tel_num %></p>
    <p>Fax Number: <%= @request_user.fax_num %></p>
    <%= link_to "Website", @request_user.website_address %>
    
</div>