<div class = "RequestInfo">
    <h1><%= @request_user.display_name %></h1>
    
    <p>Email: <%= @request_user.email %></p>
    
    <% if !@request_user.tel_num.empty? %>
        <p>Telephone Number: <%= @request_user.tel_num %></p>
    <% end %>
    
    <% if !@request_user.fax_num.empty? %>
        <p>Fax Number: <%= @request_user.fax_num %></p>
    <% end %>
    
    <% if @request_user.website_address.empty? %>
        <p>No Website</p>
    <% else %>
        <%= link_to "Website", @request_user.website_address %>
    <% end %>
    
</div>
