<h1>
    <%= image_tag @request_user.logo.url %>
        <%= @request_user.display_name %>
</h1>

<div class="RequestInfo">

    <section class="container-section">

        <section class="section-left">

            <p>
                <%= render 'shared/req_stats' %>
            </p>

            <p>Email:
                <%= @request_user.email %>
            </p>
            <% if !@request_user.tel_num.empty? %>
                <p>Telephone Number:
                    <%= @request_user.tel_num %>
                </p>
                <% end %>
                    <% if !@request_user.fax_num.empty? %>
                        <p>Fax Number:
                            <%= @request_user.fax_num %>
                        </p>
                        <% end %>
        </section>

        <section class="section-right">

            <% if volunteer_user_logged_in? %>
                <div class="topcorner">
                    <p>
                        <%= render 'follow_form' %>
                    </p>
                </div>
                <% end %>

                    <h3>About Me</h3>
                    <p>
                        <%= @request_user.about_me %>
                            <p><br /></p>
                    </p>
                    <% if @request_user.website_address.empty? %>
                        <p>No Website</p>
                        <% else %>
                            <%= link_to "Website", @request_user.website_address %>
                                <% end %>
        </section>

    </section>
</div>

<p><br /></p>
<p><br /></p>

<div class="OrganizationScore">
    <section class="container-section">

        <section class="section-left">
            <h3>Scorecard</h3>
                        <table class = "table-scorecard">
                <tr>
            <th>Leadership</th>
            <td>
                <%= @request_user.request_user_scorecard.leadership %>
            </td>
            </tr>
            <tr>
            <th>Treatmeant</th>
            <td>
                <%= @request_user.request_user_scorecard.treatment %>
            </td>
            </tr>
            <tr>
            <th>Committedness</th>
                <td>
               <%= @request_user.request_user_scorecard.committedness %>
            </td>
            </tr>
            <tr>
            <th>Times Reviewed</th>
            <td>
                <%= @request_user.rev_count %>
            </td>
            </tr>
            </table>
        </section>

        <section class="section-right">
            <h3>Recent Events</h3>

            <% for request_post in @request_user.request_posts.all.take(2) %>

                <div class="notification">
                    <h4>
                        <%= request_post.title %>
                    </h4>
                    <p><br /></p>
                    <%= request_post.description.truncate(120, omission: "...") %>
                        <p><br /></p>
                        <%= link_to "<click me!>", request_post %>
                </div>
                <% end %>
        </section>

    </section>
</div>