<div class = "ReviewVolunteer">
    <h1>Test Review Page</h1>
    <p>
        <%= form_for UserScorecard.find_by(volunteer_user_id: '4') do |f| %>
            <%= f.label :volunteer_user_id, "User Number" %>
            <%= f.text_field :volunteer_user_id %>
            
            <%= f.label :skill_proficiency, "Skill Proficiency" %>
            <%= f.text_field :skill_proficiency %>
            
            <%= f.label :attitude, "Attitude" %>
            <%= f.text_field :attitude %>
            
            <%= f.label :enthusiasm, "Enthusiasm" %>
            <%= f.text_field :enthusiasm %>
            
            <%= f.label :reliability, "Reliability" %>
            <%= f.text_field :reliability %>
            
            <%= f.submit "Confirm Review" %>
        <% end %>
    </p>
</div>