<div class = "VolunteerInfo">
    <p>Email: <%= @volunteer_user.email %></p>
    <p>Username: <%= @volunteer_user.display_name %></p>
    <p>Zip Code: <%= @volunteer_user.zip_code %></p>
    <p>Review Count: <%= @volunteer_user.rev_count %></p>
    <p>Points: <%= @volunteer_user.points %></p>
    <h3>About Me</h3>
    <p><%= @volunteer_user.about_me %></p>
</div>