<div align="center">
    <% if ((cuser = current_request_user) != nil) %>
        <%= link_to "<Notify this user you are interested in them!>", {:controller => :volunteer_users, :action => :signal_interest, :rid => cuser.id}, method: :post  %>
            <% end %>
</div>

<h1>
    <%= image_tag @volunteer_user.avatar.url %>
        <%= @volunteer_user.display_name %>
</h1>

<div class="VolunteerInfo">
    <section class="container-section">

        <section class="section-left">

            <p>
                <%= render 'shared/vol_stats' %>
            </p>

            <p>Email:
                <%= @volunteer_user.email %>
            </p>
            <p>Zip Code:
                <%= @volunteer_user.zip_code %>
            </p>
            <p>Review Count:
                <%= @volunteer_user.rev_count %>
            </p>
            <p>Points:
                <%= @volunteer_user.points %>
            </p>
        </section>

        <section class="section-right">

            <h3>About Me</h3>
            <p>
                <%= @volunteer_user.about_me %>
            </p>
            <% if @volunteer_user.skills.any? %>
                <p>Skills:
                    <%= render @volunteer_user.skills %>
                </p>
                <% end %>


        </section>
    </section>
</div>

<p><br /></p>
<p><br /></p>

<div class="VolunteerScore">
    <section class="container-section">

        <section class="section-left">

            <h3>Scorecard</h3>
            <p>Skill Proficiency:
                <%= @volunteer_user.user_scorecard.skill_proficiency %>
            </p>
            <p>Attitude:
                <%= @volunteer_user.user_scorecard.attitude %>
            </p>
            <p>Enthusiasm:
                <%= @volunteer_user.user_scorecard.enthusiasm %>
            </p>
            <p>Reliability:
                <%= @volunteer_user.user_scorecard.reliability %>
            </p>
        </section>

        <section class="section-right">
            <h3>Availability</h3>
            
            <% if @volunteer_user.availability %>
                <body>
                    <table border="1">
                        <tr>
                            <th> Monday </th>
                            <td>
                                <% if (!@volunteer_user.availability.mon_st) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.mon_st.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                            <td>
                                <% if (!@volunteer_user.availability.mon_en) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.mon_en.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Tuesday</th>
                            <td>
                                <% if (!@volunteer_user.availability.tues_st) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.tues_st.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                            <td>
                                <% if (!@volunteer_user.availability.tues_en) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.tues_en.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Wednesday</th>
                            <td>
                                <% if (!@volunteer_user.availability.wed_st) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.wed_st.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                            <td>
                                <% if (!@volunteer_user.availability.wed_en) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.wed_en.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Thursday</th>
                            <td>
                                <% if (@volunteer_user.availability.thur_st.nil?) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.thur_st.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                            <td>
                                <% if (@volunteer_user.availability.thur_en.nil?) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.thur_en.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Friday</th>
                            <td>
                                <% if (!@volunteer_user.availability.fri_st) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.fri_st.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                            <td>
                                <% if (!@volunteer_user.availability.fri_en) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.fri_en.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Saturday</th>
                            <td>
                                <% if (!@volunteer_user.availability.sat_st) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.sat_st.strftime("%I:%M %p") %>
                            </td>
                            <td>
                                <% if (!@volunteer_user.availability.sat_en) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.sat_en.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Sunday</th>
                            <td>
                                <% if (!@volunteer_user.availability.sun_st) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.sun_st.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                            <td>
                                <% if (!@volunteer_user.availability.sun_en) %>
                                    <%= "Unavailable" %>
                                <% else %>
                                    <%= @volunteer_user.availability.sun_en.strftime("%I:%M %p") %>
                                <% end %>
                            </td>
                        </tr>
                    </table>
                </body>
            <% end %>
            
            <p>
                <%= link_to "Edit availability", edit_availability_path %>
            </p>
        </section>

    </section>
</div>
