<div class = "ReviewVolunteer">
    <h1>Volunteer Review</h1>
    <p>
        <%= form_for(@user_scorecard) do |f| %>
            <%= f.hidden_field "volunteer_user_id", :value => @volunteer_user.id %>
            
            <%= f.label :skill_proficiency, "Skill Proficiency" %>
            <%= f.text_field :skill_proficiency %>
            
            <%= f.label :attitude, "Attitude" %>
            <%= f.text_field :attitude %>
            
            <%= f.label :enthusiasm, "Enthusiasm" %>
            <%= f.text_field :enthusiasm %>
            
            <%= f.label :reliability, "Reliability" %>
            <%= f.text_field :reliability %>
            
            <%= f.submit "Confirm Review" %>
        <% end %>
    </p>
</div>