<head>
<style>
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/assets/search.icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>
</head>

<% provide(:title, 'Seach Posts') %>
  <h1>Search for a Posting</h1>

  <section class="container-section">
    <%= form_tag reqposts_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %><br>
          <%= submit_tag "Search", :name => nil %>
      </p>
      <% end %>

        <ul class="request_posts">
          <% @request_posts.each do |reqpost| %>
            <li>
              <%= link_to reqpost.title, reqpost %>
                <%= reqpost.location %>
            </li>
            <% end %>
        </ul>
  </section>