<div class="updates">
  <div align="center">
    <% b = requester_has_post(@request_post.id) %>
      <% if b %>
        <%= link_to "<Delete this listing>", @request_post, method: :delete %>
          <%= link_to "<Create a job for this listing>", "/request_post_jobs/new?id=#{@request_post.id}" %>
            <% end %>
  </div>
  Updates:
  <% if b %>
    <div class="notification-update">
      <%= form_for @request_post_update  do |f| %>
        <%= f.hidden_field "request_post_id", :value => @request_post.id %>
          <%= f.label :title %>
            <%= f.text_field :title %>

              <%= f.label :text %>
                <%= f.text_field :text %>
                  <%= f.submit "Post" %>
                    <% end %>
    </div>
    <% end %>
      <% if !@request_post.request_post_updates.empty? %>
        <%= render @request_post.request_post_updates %>
          <% end %>
</div>

<p>Title:
  <%= @request_post.title %>
</p>

<% if !@request_post.location.empty? %>
  <p>Location:
    <%= @request_post.location %>
  </p>
  <% end %>

    <% if !@request_post.description.empty? %>
      <p>Description:
        <%= @request_post.description %>
      </p>
      <% end %>

        <p>Date of Event:
          <%= @request_post.date %>
        </p>

        <p>Event Coordinator:
          <%= @request_post.request_user.display_name %>
        </p>


        <% for i in @request_post.request_post_jobs %>
          <li>
            <%= i.title %> --
              <%= i.description %> --
                <%= if i.user_id != nil then VolunteerUser.find(i.user_id).display_name end %>
          </li>
          <% end %>
