<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account <b class="caret"></b>
    </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Notifications (" + current_volunteer_user.notifications.count.to_s + ")", notifications_url%>
    </li>
    <li>
      <%= link_to "Profile", current_volunteer_user %>
    </li>
    <li>
      <%= link_to "Search Organization", requsers_path %>
    </li>
    <li>
      <%= link_to "Search Postings", reqposts_path %>
    </li>
    <li>
      <%= link_to "Settings", edit_volunteer_user_path(current_volunteer_user) %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to "Log out", vollogout_path, method: :delete %>
    </li>
  </ul>
</li>